# Ignore environment variables
.env

# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Django-related ignores
db.sqlite3
/media/
staticfiles/

# Virtual environment
promoease-env/

# Ignore uploaded images
ai_api/uploads/

# Ignore Node.js dependencies
frontend/node_modules/
frontend/.next/
frontend/.env.local